:root{
    --color1:#fff;
    --color2:#391400;
    --color3:#28293E;
    --color4:#FDF0E9;
    --color5:#F3D1BF;
    --color6:#EF6D58;
    --color7:rgba(255, 255, 255, 0.64);
    --color8:rgba(57, 20, 0, 0.64);
}